<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: center;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div align="center">

    <h1>Garage Tyrannosaurus Wrecks</h1>
    <br>

    <img th:src="@{CarMechanicSim.jpg}"/>
    <br>
    <br>
    <br>

    <h2><a href="/customers/"> Customers </a></h2>
    <br>

    <h2><a href="/cars/"> Cars </a></h2>
        <h3><a href="/files"> Car documentation </a></h3>
    <br>

    <h2><a href="/workUnit/"> Work units </a></h2>

        <h3><a href="/parts/"> Parts </a></h3>

        <h3><a href="/actions/"> Actions </a></h3>

        <h3><a href="/appointments/"> Appointments </a></h3>

        <h3><a href="/invoices/"> Invoices </a></h3>
    <br>

    <h2><a href="/employees/"> Employees </a></h2>
    <br>

    <h2><a href="/stock/"> Stock </a></h2>
    <br>

</div>
</body>
</html>