<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: center;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div align="center">

    <h1>Garage Tyrannosaurus Wrecks</h1>
    <br>

    <img th:src="@{CarMechanicSim.jpg}"/>
    <br>
    <br>
    <br>

    <h2>Customers:</h2>
    <a href="/customers/">Customers</a>
    <br>
    <br>
    <br>

    <h2>Cars:</h2>
    <a href="/cars/">Cars</a>
    <br>
    <br>
    <a href="/files">Upload car documentation</a>
    <br>
    <br>
    <br>

    <h2>Check-ups and Repairs: </h2>
        <h3>Work units:</h3>
        <a href="/workUnit/">List of work units</a>
        <br>
        <br>
        <a href="/workUnit/create">New work unit</a>
        <br>
        <br>
        <a href="/workUnitParts/create">New work unit part</a>
        <br>
        <br>
        <a href="/workUnit/delete">Delete a work unit</a>
        <br>
        <br>
        <br>

        <h3>Parts:</h3>
        <a href="/parts/">Parts</a>
        <br>
        <br>
        <br>

        <h3>Actions:</h3>
        <a href="/actions/">Actions</a>
        <br>
        <br>
        <br>

        <h3>Appointments:</h3>
        <a href="/appointments/">Appointments</a>
        <br>
        <br>
        <br>

        <h3>Invoices:</h3>
        <a href="/invoices/">Invoices</a>
        <br>
        <br>
        <br>

    <h2>Employees:</h2>
    <a href="/employees/">Employees</a>
    <br>
    <br>
    <br>

    <h2>Stock: </h2>
    <a href="/stock/">Stock</a>
    <br>
    <br>
    <br>

</div>
</body>
</html>