<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvoiceUpdate</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>

    <form action="#"
          th:action="@{/invoices/update/{invoiceId}(invoiceId=${invoice.invoiceId})}"
          th:object="${invoice}"
          method="post">

        <h1> Update </h1>

        <h2> Selected invoice </h2>
        <th> Id: </th>
            <input readonly th:value="${invoice.invoiceId}" id="invoiceId" name="invoiceId"></input><br/>
        <th> Work Unit: </th>
            <input readonly th:value="${invoice.workUnit.id}" id="workUnit.id" name="workUnit.id"></input><br/>
        <th> Subtotal Check: </th>
            <input readonly th:value="${invoice.subTotalCheck}" id="subTotalCheck" name="subTotalCheck"></input><br/>
        <th> Subtotal Parts: </th>
            <input readonly th:value="${invoice.subTotalParts}" id="subTotalParts" name="subTotalParts"></input><br/>
        <th> Subtotal Actions: </th>
            <input readonly th:value="${invoice.subTotalActions}" id="subTotalActions" name="subTotalActions"></input><br/>
        <th> Tax: </th>
            <input readonly
               th:value="${(invoice.subTotalActions + invoice.subTotalParts + invoice.subTotalCheck) * invoice.tax}"
                id="tax" name="tax"></input><br/>
        <th> Total: </th>
            <input readonly th:value="${invoice.total}" id="total" name="total"></input><br/>
        <th> Payment Status: </th>
            <th th:text="${invoice.paymentStatus}"></th><br/>
        <br>



        <label> Payment Status </label>
        <select id="paymentStatus" name="paymentStatus">
            <option th:value="OPEN" selected="OPEN"> Open </option>
            <option th:value="PAID"> Paid </option>
        </select>
        <br>

    <br>
    <br>
    <input type="submit" value=" Update ">

</form>
</body>
</html>