<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvoiceUpdate</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>

    <form action="#"
          th:action="@{/invoices/update/{invoiceId}(invoiceId=${invoice.invoiceId})}"
          th:object="${invoice}"
          method="post">

        <h1> Update </h1>

        <h2> Selected invoice </h2>
        <th> Id: </th><th th:text="${invoice.invoiceId}"></th><br/>
        <th> Work Unit: </th><th th:text="${invoice.workUnit.id}"></th><br/>
        <th> Subtotal Check: </th><th th:text="${invoice.subTotalCheck}"></th><br/>
        <th> Subtotal Parts: </th><th th:text="${invoice.subTotalParts}"></th><br/>
        <th> Subtotal Actions: </th><th th:text="${invoice.subTotalActions}"></th><br/>
        <th> Tax: </th>
        <th
                th:text="${(invoice.subTotalActions + invoice.subTotalParts + invoice.subTotalCheck) * invoice.tax}"></th><br/>
        <th> Total: </th><th th:text="${invoice.total}"></th><br/>
        <th> Payment Status: </th><th th:text="${invoice.paymentStatus}"></th><br/>
        <br>

        <label> Payment Status </label>
        <select id="paymentStatus" name="paymentStatus">
            <option th:value="OPEN" selected="OPEN"> Open </option>
            <option th:value="PAID"> Paid </option>
        </select>
        <br>

    <br>
    <br>
    <input type="submit" value="Update">

</form>
</body>
</html>