<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> WorkUnitPartUpdate </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">

    <form action="#"
          th:action="@{/workUnit/update/{id}(id=${workUnit.id})}"
          th:object="${workUnit}"
          method="post">

        <h2> Update </h2>

        <label> Type: </label>
            <select id="type" name="type">
                <option th:value="CHECK" th:text="Check"></option>
                <option th:value="REPAIR" th:text="Repair"></option>
            </select>
        <br>
        <br>

        <label> Car: </label>
            <select id="car" name="car">
                <option th:each="u : ${listOfCars}" th:value="${u.licencePlate}" th:text="${u.licencePlate}"></option>
            </select>
        <br>
        <br>

        <label> Mechanic: </label>
            <select id="mechanic" name="mechanic">
                <option th:each="e : ${listOfEmployees}" th:value="${e.name}" th:text="${e.name}"></option>
            </select>
        <br>
        <br>

        <label> Check Status: </label>
            <select id="customerStatus" name="customerStatus">
                <option th:value="DISAGREE"> Disagree </option>
                <option th:value="AGREE"> Agree </option>
            </select>
        <br>
        <br>

        <label> Repair Status </label>
            <select id="repairStatus" name="repairStatus">
                <option th:value="NOTPERFORMED" > Not performed yet </option>
                <option th:value="PERFORMED"> Performed </option>
                <option th:value="DONTPERFORM"> Don't perform </option>
            </select>
        <br>

        <input type="submit" class="btn btn-primary" value=" Update">

    </form>

    <br>
    <br>
    <br>
    <a href="/workUnit/"> Back to work units list </a>
    <br>
    <br>
    <a href="/home">Back to home page</a>


</body>
</html>