<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkUnitUpdate</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
        .hasErrors{
            color: red;
            font-weight : bold;
        }
    </style>
</head>
<body>

    <form action="#"
          th:action="@{/workUnit/update/{id}(id=${workUnit.id})}"
          th:object="${workUnit}"
          method="post">

        <h2> Update </h2>

        <label> Type: </label>
        <select id="type" name="type">
            <option th:value="CHECK" th:text="Check" selected="CHECK"></option>
            <option th:value="REPAIR" th:text="Repair"></option>
        </select>
        <br>
        <br>

        <label> Car: </label>
        <select id="car" name="car">
            &lt;!&ndash;            <option th:value="">Select a car</option>&ndash;&gt;
            <option th:each="u : ${listOfCars}" th:value="${u.licencePlate}" th:text="${u.licencePlate}"></option>
        </select>
        <br>
        <br>

        <label> Mechanic: </label>
        <select id="mechanic" name="mechanic">
            &lt;!&ndash;            <option th:value="">Select an employee</option>&ndash;&gt;
            <option th:each="e : ${listOfEmployees}" th:value="${e.name}" th:text="${e.name}"></option>
        </select>
        <br>
        <br>

        <label> Check Status: </label>
        <select id="checkAgree" name="checkAgree">
            <option th:value="false" th:selected="false">Don't agree</option>
            <option th:value="true">Agree</option>
        </select>
        <br>
        <br>

        <label> Repair Status </label>
        <select id="repairPerformed" name="repairPerformed">
            <option th:value="false" th:selected="false">Not performed yet</option>
            <option th:value="true">Performed</option>
        </select>
        <br>

        <br>
        <br>
        <input type="submit" value="Update">

    </form>


</body>
</html>-->


<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Form handling Demo</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">

<h1 class="py-5">Thymeleaf Form handling Demo</h1>

    <h2>Registration succeeded</h2>
        <th> ID: </th> <th th:text="${workUnit.id}"></th><br/>
        <th> Type: </th> <th th:text="${workUnit.type}"></th><br/>
        <th> Car: </th> <th th:text="${workUnit.car.licencePlate}"></th><br/>
        <th> Mechanic: </th> <th th:text="${workUnit.mechanic}"></th><br/>
        <th> Customer Status: </th> <th th:text="${workUnit.customerStatus}"></th><br/>
        <th> Repair Status: </th> <th th:text="${workUnit.repairStatus}"></th><br/>
        <br>

    <form action="#"
          th:action="@{/workUnitParts/addWorkUnitPart/{id}(id=${workUnit.id})}"
          th:object="${workUnitPart}"
          method="post">

        <h2> Form 2 Update </h2>

<!--        <div class="form-group">-->
<!--            <label for="workUnit">workUnit</label>-->
<!--            <input id="workUnit" type="number" th:placeholder="${workUnit.id}" th:attr="value = ${workUnit.id}"-->
<!--                   th:field="*{workUnit.id}"-->
<!--                   class="form-control"/>-->
<!--        </div>-->
        <div class="form-group">
            <!--            <label for="partName">Part Name</label>
                        <input id="partName" placeholder="partName" type="text" th:field="*{partName}"
                               class="form-control"/>-->
            <select id="workUnitId" name="workUnitId">
                <!--            <option th:value="">Select a car</option>-->
                <option th:each="workUnit : ${workUnits}" th:value="${workUnit.id}" th:text="${workUnit.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <!--            <label for="partName">Part Name</label>
                        <input id="partName" placeholder="partName" type="text" th:field="*{partName}"
                               class="form-control"/>-->
            <select id="partId" name="partId">
                <!--            <option th:value="">Select a car</option>-->
                <option th:each="part : ${listOfParts}" th:value="${part.id}" th:text="${part.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input id="amount" placeholder="amount" type="number" th:field="*{amount}"
                   class="form-control"/>
        </div>

        <input type="submit" class="btn btn-primary" value=" Update">

    </form>

    <table class="table table-striped table-bordered">
        <tr>
            <th> WorkUnit </th>
            <th> Part </th>
            <th> Amount </th>
        </tr>
        <tr th:if="${#lists.isEmpty(listOfWorkUnitParts)}">
            <td colspan="5"> No parts added </td>
        </tr>
        <tr th:each="workUnitPart : ${listOfWorkUnitParts}">
            <td th:text="${workUnitPart.workUnit.id}"></td>
            <td th:text="${workUnitPart.part.name}"></td>
            <td th:text="${workUnitPart.amount}"></td>
        </tr>
    </table>


    <br>
    <br>
    <br>
    <a href="/workUnit/"> Back to work units list </a>
    <br>
    <br>
    <a href="/home">Back to home page</a>


</body>
</html>