<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkUnitPartForm</title>
</head>
<body>

<form action="#" th:action="@{/workUnitParts/create}" th:object="${workUnitParts}"
      method="post">
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <tr th:each="part : ${listOfParts}">

                <td>
                    <input type="text" name="workUnitId" />
                </td>
                <td>
                    <input type="text" name="partId" />
                </td>
                <td>
                    <input type="text" name="amount" />
                </td>

            </tr>
        </table>
</form>


<button type="submit">Register</button>
<br>
<br>
<br>
<a href="/workUnits/">Back to work unit list</a>
<br>
<br>
<a href="/home">Back to home page</a>

</body>
</html>